.mainTitle {
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  margin: 4rem 0;
  color: #3d405b;
}

.serviceCard {
  border: none !important;
  border-radius: 5px;
  box-shadow: 0 0 4px 0 rgba(40, 92, 141, 0.4);
  padding: 30px;
  margin-bottom: 2rem;
}

.serviceCard:hover {
  box-shadow: 1px 3px 11px 1px rgba(102, 102, 166, 0.7);
  -webkit-box-shadow: 1px 3px 11px 1px rgba(102, 102, 166, 0.7);
  -moz-box-shadow: 1px 3px 11px 1px rgba(102, 102, 166, 0.7);
  transition: 0.5s;
}

.servicesCardTitle {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 600;
}

.servicesCardPara {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  font-weight: 500;
}

@media (max-width: 1000px) {
  .serviceCard {
    margin-bottom: 1rem;
  }
}

@media (max-width: 768px) {
  .mainTitle {
    font-size: 25px;
  }
  .servicesCardTitle {
    font-size: 18px;
  }
  .servicesCardPara {
    font-size: 14px;
  }
}
