.projectCardTitle {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 600;
}

.projectCardText {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 400;
}

.projectCard {
  border: none !important;
  border-radius: 5px;
  margin: 2px;
  box-shadow: 0 0 4px 0 rgba(7, 28, 48, 0.4);
}

.projectCard:hover {
  box-shadow: 1px 3px 11px 1px rgba(102, 102, 166, 0.7);
  -webkit-box-shadow: 1px 3px 11px 1px rgba(102, 102, 166, 0.7);
  -moz-box-shadow: 1px 3px 11px 1px rgba(102, 102, 166, 0.7);
  transition: 0.5s;
}

.projectCardBtn {
  background-color: #3d405b;
  font-size: 16px;
  border: none !important;
}

.projectCardBtn:hover {
  background-color: #3d405b !important;
  border: none !important;
}
.projectCardBtn:focus {
  background-color: #3d405b !important;
  box-shadow: none !important;
}

@media (max-width: 1000px) {
  .projectCard {
    margin-bottom: 1rem;
  }
  .projectCardTitle {
    font-size: 18px;
  }

  .projectCardText {
    font-size: 14px;
  }

  .projectCardBtn {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .projectCard {
    margin-bottom: 2rem;
  }
}
