
.slick-arrow.slick-prev::before {
  color: #2e4f4f;
}

.slick-arrow.slick-next::before {
  color: #2e4f4f;
}

.newsCard {
  margin-right: 20px;
  border: 1px solid #92cce9;
  height: 500px;
  margin-left: 10px;
}

.newsCardImg{
  height: 200px;
}

.lastCard {
  margin-right: 0;
}

.slick-track {
  border: none !important;
}

.newsCardTitle {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 600;
  text-align: justify;
  color: #2c3e50;
}

@media (max-width: 1200px) {
  .newsCard {
     height: 550px;
  }
}

@media (max-width: 1100px) {
  .newsCard {
    height: 560px;
  }
}

@media (max-width: 1000px) {
  .newsCard {
    height: 550px;
  }
}
@media (max-width: 768px) {
  .newsCard img{
    height: 300px !important;
  }
  }
@media (max-width: 600px) {
  .newsCard{
    width: 350px;
  }
  .newsCard {
    margin: 0 auto;
    float: none;
  }

.slick-arrow.slick-prev{
  display: none !important;
}

.slick-arrow.slick-next{
  display: none !important;
}
}


@media (max-width: 400px) {
  .newsCard{
    width: 250px;
  }
}

@media (max-width: 300px) {
  .newsCard{
    width: 220px;
  }
}