html {
  scroll-behavior: smooth;
}

.knowusTitle {
  font-size: 35px;
  /* color: #17a2b8; */
  color: #17a2b8;
  text-align: center;
  margin: 3rem 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
}

.knowusText {
  text-align: justify;
  color: #999999;
  letter-spacing: 1px;
  font-size: 17px;
  margin-bottom: 3rem;
}

.knowMoreBtn {
  font-size: 18px;
  margin-top: 15px;
  font-weight: 700;
  border: 1px solid #17a2b8;
  color: #17a2b8;
}

.knowMoreBtn:hover {
  background-color: #17a2b8;
  color: #fff !important;
  border-radius: 5px;
  transition: all ease 1.5s;
  border: 1px solid #45637d;
}


@media only screen and (min-width: 1000px) {
  .knowusText {
    margin: 0 10rem;
  }
}

@media (max-width: 1300px) {
  .knowusTitle {
    font-size: 28px;
   }
 }


 @media (max-width: 1000px) {
  .knowusTitle {
    font-size: 26px;
   }
 }

@media (max-width: 768px) {
  .knowusTitle {
    font-size: 22px;
  }
  .knowusText {
    font-size: 13px;
  }
  .knowMoreBtn {
    font-size: 14px;
  }
}

@media (max-width: 481px) {
  .knowMoreBtn {
    font-size: 12px;
  }
  .knowusTitle {
    font-size: 20px;
  }
}
