html {
  scroll-behavior: smooth;
}

.knowusTitle {
  font-size: 35px;
  color: #00a8ff;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  text-align: center;
  margin: 3rem 0;
}

.knowusText {
  text-align: justify;
  color: #999999;
  letter-spacing: 1px;
  font-size: 17px;
  margin-bottom: 3rem;
}

.knowMoreBtn {
  font-size: 18px;
  margin-top: 1rem;
}

.knowMoreBtn:hover {
  color: #fff !important;
}

@media only screen and (min-width: 1000px) {
  .knowusText {
    margin: 0 10rem;
  }
}

@media (max-width: 768px) {
  .knowMoreBtn {
    font-size: 15px;
  }
}

@media (max-width: 768px) {
  .knowusTitle {
    font-size: 25px;
  }
  .knowusText {
    font-size: 13px;
  }
  .knowMoreBtn {
    font-size: 14px;
  }
}

@media (max-width: 481px) {
  .knowMoreBtn {
    font-size: 12px;
  }
}
