.chartPara {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  font-weight: 400;
  text-align: justify;
  padding: 10px;
}

@media (max-width: 768px) {
  .chartPara {
    font-size: 14px;
  }
  .barChart {
    margin-left: 0;
  }
}
