/* .newsTitle {
  font-size: 35px;
  color: #00a8ff;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  text-align: center;
  margin: 3rem 0;
}

.newsCardTitle {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 600;
  text-align: justify;
}

.newsCard {
  margin-right: 20px;
  border: 1px solid #92CCE9;
}

.newsHeader{
  color: #17a2b8;
}


@media (min-width: 768px) {
  .newsCard img {
    height: 250px;
  }
  .newsCard {
    height: 500px;
  }
}

@media (max-width: 1000px) {
  .newsCard {
    margin-bottom: 2rem;
  }
  .newsCardTitle {
    font-size: 1px;
  }
}

@media (max-width: 768px) {
  .servicesCardTitle {
    font-size: 15px !important;
  }
  .newsHeader {
    font-size: 13px !important;
  }
  .newsPara {
    font-size: 14px !important;
  }
} */

