.navigation {
  /* transition: background-color 400ms linear;
  -o-transition: background-color 400ms linear;
  -moz-transition: background-color 400ms linear;
  -webkit-transition: background-color 400ms linear; */
  /* background-color: rgba(0, 0, 0, 0.1); */
  background-color: rgba(255, 255, 255, 0.7);
  padding: 1rem 5rem;
}

.navigationScroll {
  transition: background-color 400ms linear;
  -o-transition: background-color 400ms linear;
  -moz-transition: background-color 400ms linear;
  -webkit-transition: background-color 400ms linear;
  /* background-color: #f6fff8; */
  background-color: rgba(255, 255, 255, 0.9);
  padding: 1rem 5rem;
}

.navItem {
  text-decoration: none !important;
  font-family: "Raleway", sans-serif;
  font-size: 12px !important;
  font-weight: 500;
  margin-right: 1rem;
  color: #2E4F4F;
}

.navItemScroll {
  text-decoration: none !important;
  font-family: "Raleway", sans-serif;
  font-size: 20px !important;
  font-weight: 500;
  margin-right: 1rem;
  color: #2E4F4F;
}

.navItemScroll:hover {
  color: #130f40;
  transition: all ease 1s;
}

.navItem:hover {
  color: #5ea1a1 !important;
  transition: all ease 1s;
  font-size: 16px;
  font-weight: 700;
}

.logo {
  width: 100px;
  height: 55px;
}

.dropdown {
  position: relative;
  display: inline-block;
  padding-bottom: 10px;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 80%;
  background-color: #f1f1f1;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  min-width: 180px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5px;
  font-size: 14px;
  width: 100% !important;
}

.navDropdown {
  transition-property: background-color;
  transition-duration: 2s;
}

.navDropdown:hover {
  background-color: #f8f9fa;
}

.navDropdown:hover {
  background-color: transparent;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  /* background-color: #016773; */
  background-color: #17a2b8;
  border-radius: 0px;
  color: #fff;
}

.active {
  text-decoration: underline;
  border-bottom: 2px solid #02cde3;
  padding-bottom: 5px;
}

.dropdown-content {
  font-size: 12px;
}

@media (max-width: 1300px) {
  .navigation {
    padding: 1rem 2rem !important;
  }
  .navItem {
    margin-right: 5px;
    font-size: 12px;
  }
  .navigationScroll {
    padding: 1rem 2rem;
  }
  .navItemScroll {
    margin-right: 5px !important;
    font-size: 12px !important;
  }
}

@media (max-width: 1100px) {
  .navigationScroll {
    padding: 1rem 2rem;
  }
}

@media (max-width: 992px) {

  button.navbar-toggler {
    background-color: #17a2b8;
    border: none;
    margin-top: -10px;
  }

    /* button.navbar-toggler,   span.navbar-toggler-icon */

  span.navbar-toggler-icon {
    width: 22px;
    height: 22px;
  }

  #responsive-navbar-nav {
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 10px;
    text-align: center;
  }

  .navItem {
    color: #fff !important;
  }

  .navItemScroll {
    color: #fff !important;
    text-align: center;
  }
  #one {
    display: inline-block;
  }
  .logo{
    margin-top: -10px;
  }
}

@media (max-width: 768px) {
  .navigation {
    height: 55px !important;
  }
  .navItem {
    font-size: 12px;
  }
  .navItemScroll {
    font-size: 12px;
  }
  .navbar-toggler-icon {
    font-size: 18px;
  }
  .dropdown-content {
    display: none;
    font-size: 10px;
  }
  .dropdown-content.show {
    display: block;
  }
  .logo {
    width: 90px;
    height: 40px;
  }
  /* span.navbar-toggler-icon, button.navbar-toggler */
  

}

@media (max-width: 600px) {
  .navigation {
   
  }
  /* button.navbar-toggler {
    margin-top: -20px;
  } */
}

@media (max-width: 450px) {
  .navigation {
    /* padding: 1rem 2rem; */
    height: 35px;
  }
  .logo {
    width: 70px;
    height: 35px;
  }
  /* button.navbar-toggler,   span.navbar-toggler-icon */
  button.navbar-toggler {
    font-size: 6px !important;
  }
}

@media (max-width: 991.98px) {
  .dropdown:hover .dropdown-content {
    position: static;
  }
}
