.navigation {
  transition: background-color 400ms linear;
  -o-transition: background-color 400ms linear;
  -moz-transition: background-color 400ms linear;
  -webkit-transition: background-color 400ms linear;
  background-color: rgba(0, 0, 0, 0.1);
  /* background-color: #f6fff8; */
  padding: 1rem 5rem;
}

.navigationScroll {
  transition: background-color 400ms linear;
  -o-transition: background-color 400ms linear;
  -moz-transition: background-color 400ms linear;
  -webkit-transition: background-color 400ms linear;
  background-color: #f6fff8;
  padding: 1rem 5rem;
}

/*
 
 focus color: #01444c

  */
/* .navbarTitle {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 30px;
  text-transform: uppercase;
  color: #eaf4f4;
}
.navbarTitleScroll {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 30px;
  text-transform: uppercase;
  color: #2f3e46;
} */

.navItem {
  text-decoration: none !important;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  font-weight: 400;
  margin-right: 1rem;
  /* color: #273c75; */
  color: #fff;
}

.navItemScroll {
  text-decoration: none !important;
  font-family: "Raleway", sans-serif;
  font-size: 15px !important;
  font-weight: 400;
  margin-right: 1rem;
  color: #2f3e46;
}

.navItemScroll:hover {
  color: #130f40;
  transition: all ease 1s;
}

.navItem:hover {
  color: #3958ac !important;
  transition: all ease 1s;
}

.logo {
  width: 100px;
  height: 55px;
}

.dropdown {
  position: relative;
  display: inline-block;
  padding-bottom: 10px;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  background-color: #f1f1f1;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  min-width: 180px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5px;
  font-size: 14px;
  width: 100% !important;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #016773;
  border-radius: 5px;
  color: #fff;
}

.active {
  text-decoration: underline;
  border-bottom: 2px solid #02cde3;
  padding-bottom: 5px;
}

@media (max-width: 1300px) {
  .navigation {
    padding: 1rem 2rem !important;
  }
  .navItem {
    margin-right: 5px;
    font-size: 12px;
  }
  .navigationScroll {
    padding: 1rem 2rem;
  }
  .navItemScroll {
    margin-right: 5px !important;
    font-size: 12px !important;
  }
}

@media (max-width: 1100px) {
  /* .navItem {
    font-size: 11px;
    margin-right: 5px !important;
  } */
  .navigationScroll {
    padding: 1rem 2rem;
  }

  /* .navItemScroll {
    margin-right: 1px !important;
  } */
}

@media (max-width: 1000px) {
  .navigation {
    /* background-color: rgba(0, 0, 0, 0.8); */
    padding: 1rem 2rem;
    background-color: #bfbfbf;
  }

  .navItem {
    /* color: #fff !important; */
    /* text-align: center; */
    color: #000 !important;
  }

  .navItemScroll {
    color: #000000 !important;
    text-align: center;
  }
  #one {
    display: inline-block;
  }
}

@media (max-width: 900px) {
  /* .cardImg1 {
    width: 65px;
    height: 35px;
  }

  .cardImg2 {
    width: 135px;
    height: 35px;
  } */
}

@media (max-width: 768px) {
  .navItem {
    font-size: 12px;
  }
  .navItemScroll {
    font-size: 12px;
  }
  .navbar-toggler-icon {
    font-size: 18px;
  }
  .dropdown-content {
    display: none;
  }
  .dropdown-content.show {
    display: block;
  }
}

@media (max-width: 450px) {
  .logo {
    width: 80px;
    height: 50px;
  }
}

@media (max-width: 991.98px) {
  .dropdown:hover .dropdown-content {
    position: static;
  }
}
