.AboutPageTitle {
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  font-weight: 700;
}

.AboutPageDescription {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-align: justify;
}

.AboutMeMargin {
  margin: 6rem 0;
}

.AboutMeHr {
  margin-bottom: 2rem;
}

@media (max-width: 780px) {
  .AboutPageTitle {
    font-size: 22px;
  }
  .AboutPageDescription {
    font-size: 14px;
  }
}
