.backToTopBtn{
position: fixed;
bottom: 30px;
right: 30px;
color: #17a2b8;
font-size: 20px;
border: none;
/* background-color: red; */
}


@media (max-width: 1000px) {
    .backToTopBtn{
        right: 25px !important;
        }
  }

  @media (max-width: 768px) {
    .backToTopBtn{
        right: 20px !important;

        }
  }
  