.profile-area {
  padding: 12px 0;
}

.card {
  /* box-shadow: 0 0 30px rgba(0, 0, 0, 0.5); */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  border-radius: 15px;
}
.img1 img {
  height: 170px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  width: 100%;
}

.img2 img {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  border: 7px solid #fff;
  margin-top: -80px;
  background-color: #d9d9d9;
}

.card:hover .img2 img {
  border-color: darkcyan;
  transition: 1.5s;
}

.main-text {
  padding: 30px 0;
  text-align: center;
}

.main-text h2 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  margin: 0 0 20px;
  color: #2E4F4F;
  font-family: 'Montserrat', sans-serif;
}

.main-text p {
  font-size: 16px;
  padding: 0 35px;
}
.main-text-p {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #2E4F4F;
}
.socials {
  text-align: center;
  padding-bottom: 20px;
  /* color: darkcyan; */
  color: #b2bec3;
  margin-bottom: 20px;
  cursor: pointer;
}

.socials svg {
  font-size: 25px;
  transition: all 0.3s ease-in-out;
}

.socials svg:hover {
  color: #00b3b3;
  transform: translateY(-6px);
}

/* 
card */

@media (max-width: 1000px) {
  .card {
    margin-bottom: 20px;
  }
}
