/* 

.CorporateClientLogo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 3rem;
  }
  
  .tcbCard {
    margin: 10px;
    flex-basis: calc(33.33% - 20px);
    max-width: calc(33.33% - 20px);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .tcbCard img{
    width: 100px;
    height: 100px;
    border: 1px solid #92CCE9;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 1px 1px 5px #92CCE9;
}
   */