.plasticText{
    font-size: 15px;
    color: #595959;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}


@media only screen and (max-width: 768px){
  .plasticText{
    font-size: 13px;
  }
}

@media only screen and (max-width: 420px){
    .plasticText{
      font-size: 11px;
    }
  }