.clientReviewImgCard{

}

.clientReviewImgCard {
  margin: 0 auto;
  float: none;
}

@media(max-width:480px){
  .clientReviewImgCard {
    /* margin: 0 auto;
    float: none; */
    margin-right: 30px !important;
  }
}

@media(max-width:320px){
  .clientReviewImgCard {
    margin-right: 60px !important;
  }
}
