.carousel-caption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.carousel-item.active {
  border-bottom: none;
}


/* .carousel-control-prev-icon,
.carousel-control-next-icon {
  color: #000;
  background-color: #17a2b8;
} */

.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
  transition: all ease 1s;
}

.carousel-control-prev,
.carousel-control-next {
  width: 80px;
}

.carousel-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background-color: rgba(255, 255, 255, 0.3);  */
  background-color: rgba(0, 0, 0, 0.3); 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 4px;
}

.carousel-caption {
  z-index: 1; 
  color: #fff; 
}

.button-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.button-container button {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 12px 20px;
  border-radius: 30px;
}

.button-container button:hover {
  /* background-color: red; */
  color: #fff;
  border: none;
  transition: all 0.2s ease-in-out;
}

.button-container button:focus {
  outline: none;
  box-shadow: none;
}

.serviceBtn {
  color: #fff;
  background-color: #17a2b8;
  font-weight: 700 !important;
}

.learnBtn{
  font-weight: 700 !important;
}

.serviceBtn:hover, .learnBtn:hover{
color: #17a2b8 !important;
font-weight: 700 !important;
}

.serviceBtn:focus{
  background-color: #17a2b8;
  color: #fff !important;
  }

  .learnBtn:focus{
    color: #17a2b8;
  }

/* slider down key */
.carousel-indicators .active {
  background-color:  #60d9eb;
  height: 4px !important;
  transform: rotateY(360deg);
  transition: transform 1.5s ease-in-out;
  /* animation-name: indicator-bounce;
  animation-duration: 1s;
  animation-fill-mode: both; */
}

/* @keyframes indicator-bounce {
  0% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0); }
} */

.button-container button {
  transition: all 0.3s ease;
}

.button-container button:hover {
  background-color: #c4e3ed;
  color: #000;
  transition: all ease 1s;
}

@media screen and (max-width: 768px) {
  .button-container button {
    font-size: 14px;
  }
  .serviceBtn,
  .learnBtn {
    width: 130px;
    font-size: 13px !important;
    font-weight: 400 !important;
  }
}

@media screen and (max-width: 600px) {
  .button-container button {
    font-size: 12px;
  }
  .serviceBtn,
  .learnBtn {
    width: 130px;
    font-size: 11px !important;
    font-weight: 400 !important;
  }

  .sliderImg{
    height: 350px;
  }
}

@media screen and (max-width: 481px) {
  .button-container button {
    font-size: 10px;
  }
  .serviceBtn,
  .learnBtn {
    width: 130px;
    font-size: 11px !important;
    font-weight: 400 !important;
    width: 90px;
    padding: 6px !important;
  }
  .sliderImg{
    height: 300px;
  }
}
